<h1>
  {{title}}
</h1>

<app-collapse-emeter></app-collapse-emeter>
<button type="button" class="btn btn-primary"
        (click)="isCollapsed = !isCollapsed">Toggle collapse from parent component
</button>
<app-collaspe-test [isCollapsed]="isCollapsed"></app-collaspe-test>


<p [style.background]="'lime'">I am green with envy!</p>

<h1>{{color}}</h1>

<h1>My First Attribute Directive</h1>
<p myHighLight>Highlight me!</p>

<p myHighlight [myHighLight]="color">Highlighted with parent component's color</p>

<p [myHighLight]="color">Highlight me!</p>


<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighLight]="color">Highlight me!</p>

<p [myHighLight]="color" defaultColor="violet">
  Highlight me too!
</p>

<h1>Test sur directive de privilege</h1>

<div>{{Privilege.appPerfRead}}</div>
<!-- we dont use the Privilege.appPerfRead in the privilege check because : 
*it is easier to read in his native form
*there is no compilation error if miss spell anything after Privilege.something. there is only an error in the html page. 
-->
<div *gpmShowOnPrivilege="'app1:perf:read,app1:perf:write'">this block should show </div>
<div *gpmShowOnPrivilege="'app2:perf:read,app2:perf:write'">this block should not show</div> 